<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item {% if page.url == '/index.html' %}active{% endif %}" href="/">Home</a>
            <a class="blog-nav-item" href="http://planet.nanjinglug.org">Planet</a>
            <a class="blog-nav-item" href="http://wiki.nanjinglug.org">Wiki</a>
            <a class="blog-nav-item {% if page.url == '/about/' %}active{% endif %}" href="/about/">About</a>
        </nav>
    </div>
</div>
